body {
  background-color: #000;
  font-family: Philosopher, Sans-Serif;
  color: #fff;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  background: #000;
  font-size: 14px;
  padding: 25px;
}

.parallax {
  height: 550px;
  background: transparent;
}

.script {
  background-image: url('img/wallpaper.jpg');
}

.push {
  margin-top: 2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  top: 25%;
  left: 25%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  top: 25%;
  left: 25%;
}

.social ul li {
  list-style: none;
  display: inline-block;
}

.linx {
  background-color: #000;
  border: solid 2px #bb0404;
  height: 1.5em;
  font-size: 16px !important;
  font-family: 'Philosopher', sans-serif;
}

.btns ul li {
  list-style: none;
  display: inline-block;
  padding-right: 1em;
}

.tagline {
  font-size: 14px !important;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #bb0404;
}

.logo {
  width: 15%;
}

.hero {
  width: 90%;
}

.links {
  padding-top: 2em;
  font-size: 15px;
  font-family: 'Philosopher', sans-serif;
}

.navbar-nav a:hover {
  background-color: transparent !important;
  text-decoration: none;
}

.navbar-nav a {
  color: #bb0404 !important;
}


img.wrap {
  padding: 2em;
  float: left;
}

.press {
  max-width: 150px;
}

img {
    cursor: zoom-in;
}
