body {
  background-color: #000;
  font-family: Philosopher, Sans-Serif;
  color: #fff;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  background: #000;
  font-size: 14px;
  padding: 25px;
}

.parallax {
  height: 550px;
  background: transparent;
}

.script {
  background-image: url('img/wallpaper.jpg');
}

.push {
  margin-top: 2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  top: 25%;
  left: 25%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  top: 25%;
  left: 25%;
}

.social ul li {
  list-style: none;
  display: inline-block;
}

.linx {
  background-color: #000;
  border: solid 2px #bb0404;
  height: 1.5em;
  font-size: 16px !important;
  font-family: 'Philosopher', sans-serif;
}

.btns ul li {
  list-style: none;
  display: inline-block;
  padding-right: 1em;
}

.tagline {
  font-size: 14px !important;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #bb0404;
}

.logo {
  width: 15%;
}

.links {
  padding-top: 2em;
  font-size: 18px;
  font-family: 'Philosopher', sans-serif;
  z-index: 3;
}

.navbar-nav a:hover {
  background-color: transparent !important;
  text-decoration: none;
}

.navbar-nav a {
  color: #bb0404 !important;
}

.vc {
    width: 50%;
}

img.wrap {
  padding: 2em;
  float: left;
}

.press {
  max-width: 150px;
}

#burger {
  background-color: #bb0404;
}

.icon-bar {
  color: #000;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #bb0404;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
