body {
  background-color: #000;
  font-family: Philosopher, Sans-Serif;
  color: #fff;
}

html {
  background-color: #000;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  background: #000;
  font-size: 14px;
  padding: 25px;
}

.parallax {
  height: 550px;
  background: transparent;
}

.script {
  background-image: url('img/wallpaper.jpg');
}

.push {
  margin-top: 2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  top: 25%;
  left: 25%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  top: 25%;
  left: 25%;
}

.social ul li {
  list-style: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.linx {
  background-color: #000;
  border: solid 2px #bb0404;
  height: 1.5em;
  font-size: 16px !important;
  font-family: 'Philosopher', sans-serif;
}

.btns ul li {
  list-style: none;
  display: inline-block;
  padding-right: 1em;
}

.tagline {
  font-size: 14px !important;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #bb0404;
}

.logo {
  width: 25%;
}

.links {
  font-size: 18px;
  font-family: 'Philosopher', sans-serif;
}

.navbar-nav a:hover {
  background-color: transparent !important;
  text-decoration: none;
}

.navbar-nav a {
  color: #bb0404 !important;
}

.vc {
    width: 50%;
}

img.wrap {
  padding: 2em;
  float: left;
}

.press {
  max-width: 150px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #bb0404;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #bb0404;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* *********************************
           Variables
  ********************************** */
$navbar-height: 75px;
$big-logo-padding: 15px; // adjust these 2 values
$small-logo-padding: 2px; // of bottom padding to look nice


/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
.navbar-default {
  background: #000;
  border-bottom: none;
}

.navbar-fixed-top {
  background-color: #000;
}

.navbar-default .navbar-toggle {
  border: 1px solid #bb0404;
  border-color: #bb0404;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color: transparent;
  @media (max-width: 767px) {
    background: #000;
  }
}
.navbar-default .navbar-nav > li > a {
color: black;


}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #bb0404;

}
ul.nav {
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #bb0404;
    border: solid 2px #bb0404;
}
/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
    padding-top: $navbar-height;
    height: $navbar-height;
    overflow: hidden;
    position: absolute;
  }

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: $small-logo-padding;
}

.logo {
  width: 275px;
}
/* *********************************
           Big Logo
  ********************************** */
.big-logo-row {
  background: gold;

  .big-logo-container {
    padding-top: $navbar-height;
  }

  h1 {
    font-size: 4em;
    margin:0;
    padding:0 0 $big-logo-padding 0;

    @media (min-width: 400px) { font-size: 4.5em; }
    @media (min-width: 440px) { font-size: 5.5em; }
    @media (min-width: 500px) { font-size: 6.5em; }
    @media (min-width: 630px) { font-size: 7.5em;  }
    @media (min-width: 768px) { font-size: 9em; padding-bottom: $big-logo-padding * 2; }
    @media (min-width: 1200px) { font-size: 12em; }
  }
}
